@font-face {
  font-family:young-serif ;
  src: url(fonts/young-serif/YoungSerif-Regular.ttf);

  

}
@font-face {
  font-family:outfit;
  src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}
body{
  background-color: hsl(30, 54%, 90%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whitebox{
  height: auto;
  width: 45%;
  background-color: hsl(0,0%,100%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 4vh;
  margin-top: 3%;
  margin-bottom: 3%;


}
#img{
  width: 99%;
  border-radius: 15px;
}
h1{
  font-family:young-serif ;
  font-weight: 500;
  font-size: 2.25em;
}
h2{
  font-family:young-serif;
  color: hsl(14, 45%, 36%);


}
h3{
  font-family: outfit;
  font-weight: 600;
  margin-left:5% ;
  color: hsl(332, 51%, 32%);
}
.para{
  font-family: outfit;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}
.a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
}
.li{
  margin-bottom: 2.5%;
  font-family: outfit;
  font-size: 16px;
}
.li::marker{
  color:hsl(14, 45%, 36%);
  font-weight: 500;
  padding-right: 20%;
}
.span{
  font-weight: 600;
}
.purp{
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  

}
.st{
  color: hsl(14, 45%, 36%);
  font-family: outfit;
  font-weight: 600;
}



.trow{
  padding-bottom:1.5%;
  padding-top: 2%;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  font-family: outfit;
  
}